<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>マーメイド サンプル</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.15.0/mermaid.min.js" integrity="sha512-HH52omhHpZF6RfVnGiQwYgYm4H/ya2xsZYLl5xJ4+tLfX+rN4+8zF7V/H/KLeicPrKZYi1g6iBmVkk2AhXTGlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    マーメイド記法のサンプルです。<br>
    マーメイドは簡単に様々なグラフや図を書く事ができます。<br>
    詳細はそのうちまとめます。<br>
<!-- 以下にMermaid記法を記述 -->
<pre class="mermaid">
graph LR
    Start --> aaa --> End
</pre>
</body>
</html>
